.mui-scroll {background: white; margin: 0; padding: 0px;}
.mui-scroll .channel h4{width: 50px;margin: 25px auto;}
.channel img{width: 128px;height:77px; padding-left:0px;margin-left:0px;}

#title{
	text-align: center;
}


.mui-slider{
	text-align: center;
}
