
ul,li{
	text-decoration: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.play1{height: 200px;background:url(../img/play1.png);background-size: 100%;}
.play1 a img{width: 35%;border-radius: 10px;}
.play1 a{display: block;width: 100%;text-align: center;padding-top:70px ;}
.play2{height: 40px;background: black;padding-top: 4px;}
.play2 li{width: 94%;margin:0 auto;background:gray;height: 32px;border-radius: 15px;padding-left: 10px;padding-top: 6px;}
.play2 a:link,.play2 a:visited{color: white;}
.play2 a:hover{color: deeppink;text-decoration: underline;}
.xuanji1{height: 65px;width: 130px;border: 1px solid gainsboro;float: left;border-radius: 5px;}
.xuanji1 li{padding-left:10px;text-align:left;height: 25px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.xuanji1:link,.xuanji1:visited{color: black;}
.xuanji1:hover{border: 1px solid pink;color: pink;}


