@font-face {
	font-family:hwxw;
	src:url('../fonts/hwxw.ttf') format('truetype');
}
*{font-family: hwxw;}


.mui-bar {
	/*background: pink;*/
}
.mui-table-view ul{padding: 0;}
.mui-table-view-cell1{
	float: left;

	

}
.mui-table{
	margin: 0px;
	padding: 0px;
}

/*.mui-table-view-cell1 a{margin:0px auto;}
*/
.mui-card{
	float: left;
	margin: 0px;
	padding: 0px;
}
.mui-media img{
	width: 30px; 
	height: 30px;
}
	
.mui-card-footer button{
	border: 1px solid pink;
	color:pink;
    padding-top: 0px;
	padding-bottom: 0px;
}
.mui-card-header img{
	margin: auto;

}
.mui-card-content{
	text-align: center;
	font-size: 9px;
}
.mui-card-content1{
	text-align: center;
	color:lightgray;
	font-size: 9px;
}
.mui-card-footer{
	text-align: center;
}
.mui-card1{
	margin-left: 20px;
	border: 1px solid lightgray;
}
.mui-card3{
	margin-left: 50px;
	border: 1px solid lightgray;
}
.mui-card2{
	margin-left: 50px;
	border: 1px solid lightgray;
}

#head{
	padding: 0px;
	margin: 0px;
	height: 50px;
}

#cc1{
	padding-top:1px;
}

#head img{
	width: 50px;
	height: 50px;
}

#subscription{
	height: 40px;
}

#subscription .mui-btn{
	color: #f97197;
	border: solid 1px #f97197;
	border-radius: 5px;
	width: 80px;
	height: 30px;
}

#count{
	color: lightgrey;
}

ul{
	border: solid none;
}

ul li{
	border: solid none;
}




#headervip{
	float: left;
	margin: 0px;
	padding: 0px;
}

#headervip li{
	
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#headervip li img{
	width: 30px;
	height: 30px;
	padding: 0px;
	margin-top: 5px;
}

#top1{
	margin-right: 5px;
}

#top2{
	margin-left: 5px;
}

#top3{
	margin-left: 5px;
}

#inner_search{
	width: 100px;
	float: left;
	color: white;
	margin-top: 10px;
	margin-left: 85px;
	margin-right: 50px;
	color: brown;
	text-align: center;
	font-size: 20px;
	color: white;
	
}